
    *{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1vw;
    
    
}
.boxcenter{
    width: 90%;
    margin: 0 auto;
    padding-left: 230px;
    
}
.row{
    float: left;
    width: 100%;
}
.mb{
    margin-bottom: 10px;
}

.mr{
    margin-right: 5px;
}
.demo{
    background-color: antiquewhite;
    min-height: 100px;
}
.header{
    background-color: black;
    font-size: 1vw;
    color: rgb(170, 161, 161);
    border-radius:5px;
    text-align: center;
}
.header h1{
    margin: 10px 20px;
    font-size: 2vw;
}
.header h1:hover{
    color: white;
}


.banner img{
    width: 1300%;
    height: 500px;
    border-radius: 2px;
}
.boxtrai{
    float: left;
    width: 74%;
}
.boxphai{
    float: left;
    width: 25%;
}
.footer{
    background-color: black;
    font-size: 1vw;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    
}
.boxtitle{
    color: #333;
    padding: 10px;
    background-color: rgb(138, 135, 135);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px rgb(224, 217, 217) solid;
}
.boxcontent{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
    
    
}
.boxcontent2{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    background-color: #ccc;
    
}
.boxfooter{
    padding: 10px;
    background-color: #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
.anhnb{
    min-height: 300px;
    width: 100%;
    
}
.anhnb img{
    width: 980px;
    height: 450px;
}
.boxsp{
    float: left;
    width: 24%;
   
    min-height: 300px;
    border: 1px #eee solid;
    border-radius: 5px;
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 20px;
    
}
.boxsp img{
    width: 180px;
    height: 200px;
}
.header .menu{
    padding: 0px 10px;
}
.header .menu ul li{
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}
.header .menu ul li a{
    color: rgb(170, 161, 161);
    text-decoration: none;
}
.header .menu ul li a:hover{
    color: white;
    font-size: 1vw;
}
.formtk{
   line-height: 150%;
   background-color: #ccc;
}
.formtk input[type="text"],
.formtk input[type="email"],
.formtk input[type="reset"],
.formtk input[type="password"],
.frmcontent input[type="text"]{
    width: 100%;
    border: 1px #ccc solid;
    padding: 5px 10px;
    border-radius: 5px;
}
.formtk input[type="check"]{
    
    border: 1px #ccc solid;
    border-radius: 5px;
}
.formtk input[type="submit"],
.frmcontent input[type="submit"],
.frmcontent input[type="reset"],
.frmcontent input[type="button"]{
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px #ccc  solid;
}
.formtk input[type="submit"]:hover,
.frmcontent input[type="submit"]:hover,

.frmcontent input[type="button"]:hover {
    background-color: #ccc;  
}
.formtk li a{
    color: rgb(7, 8, 7);
    text-decoration: none;
}
.formtk li a:hover{
    color: rgb(49, 66, 66);
    text-decoration: underline;
}
/* menu dọc*/
.menudoc ul{
    margin: 0;
    padding: 20px;
    list-style-type: none;
}
.menudoc ul li{
    padding: 10pz 20px;
    background-color: #fff;
    border-bottom: 1px #eee solid;
    padding: 10px;
}
.menudoc ul li a{
    color: #666;
    text-decoration: none;
}
.menudoc ul li:hover{
    background-color: #ccc;

}
.searbox input[type="text"]{
    width: 100%;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 1px #ccc solid;
    border-radius: 5px;
}
.top10 img{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10%;
    border-radius: 5px;
    border: 1px #ccc solid;

}
.top10 a{
    color: #666;
    text-decoration: none;
}
.top10 a:hover{
    color: #000;
    text-decoration: underline;
}

/* ADMIN */
.headeradmin{
    background-color: #eee;
    border: 1px #ccc solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}
.headeradmin h1{
    font-size: 2vw;
}
.frmtitle{
    background-color: #eee;
    border: 1px #ccc solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}
.frmcontent{
    padding: 20px 0px;
}

/* DANH SÁCH LH*/
.frmdsloai table{
    width: 100%;
    border-collapse: collapse;
    
}
.frmdsloai table th{
    padding: 20px;
    background-color: #ccc;
}
/*.frmdsloai table th:nth-child(2){
    width: 25%;
    background-color: #ccc;
}
.frmdsloai table th:nth-child(3){
    width: 45%;
    background-color: #ccc;
}
.frmdsloai table th:nth-child(4){
    width: 20%;
    background-color: #ccc;
}*/
.frmdsloai table td{
    padding: 10px 20px;
    border: 1px #ccc solid;
}

/* slideshow */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
   display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.spct{
    text-align: center;
}
.ctsp img{
    width: 50%;
}
.thongbao{
    color: red;
}
   